<span ng-if="!_.isEmpty(key)" ng-click="toggleKey(key)">{{key}}:</span>

<span ng-if="type == 'array'">
  <span ng-if="showValue">
    [<json-renderer ng-repeat="child in obj track by $index" obj="child" parent="obj"></json-renderer>]
  </span>
  <span ng-if="!showValue">[ ... ({{obj.length}}) ... ]</span>
</span>

<span ng-if="type == 'object'">
  <span ng-if="showValue">
    {<div ng-repeat="(key, value) in obj">
      <json-renderer class="json-obj" key="key" obj="value" parent="obj"></json-renderer>
    </div>}
  </span>
  <span ng-if="!showValue">{ ... }</span>
</span>

<span ng-if="type == 'boolean'" class="json-boolean">"{{obj}}"</span>

<span ng-if="type == 'string'" class="json-string">"{{obj}}"</span>

<span ng-if="type == 'number'" class="json-number">{{obj}}</span>

<span ng-if="type == 'null'" class="json-null">null</span>