<span ng-if="!_.isEmpty(key)">{{key}}:</span>

<span ng-if="type == 'array'">[<json-renderer ng-repeat="child in obj" obj="child" parent="obj"></json-renderer>]</span>

<span ng-if="type == 'object'">{<div ng-repeat="(key, value) in obj">
		<json-renderer class="json-obj" key="key" obj="value" parent="obj"></json-renderer>
	</div>}
</span>

<span ng-if="type == 'string'" class="json-string">"{{obj}}"</span>

<span ng-if="type == 'number'" class="json-number">{{obj}}</span>

<span ng-if="type == 'null'" class="json-null">null</span>