scene {
	height: 100%;
	width: 100%;
	position: absolute;
	overflow: hidden;
}

.room-name {
	position: absolute;
	bottom: 0%;
	left: 0%;
	color: #fff;
}

.players {
	position: absolute;
	right: 0%;
	top: 0%;
	color: #fff;
}

.lastEvent {
	position: absolute;
	right: 0%;
	bottom: 0%;
	color: #fff;
}