scene {
	height: 100%;
	width: 100%;
	position: absolute;
	overflow: hidden;
}

#stats {
	right: 0%;
}

.room-name {
	position: absolute;
	bottom: 0%;
	right: 0%;
	color: #fff;
}

.players {
	position: absolute;
	left: 0%;
	top: 0%;
	color: #fff;
	font-size: xx-small;
	height: 100%;
}

.last-vent {
	position: absolute;
	right: 0%;
	bottom: 50%;
	color: #fff;
}