@-webkit-keyframes greenPulse {
  from { color: #749a02; text-shadow: 0 0 9px #333; }
  50% { color: #91bd09; text-shadow: 0 0 18px #91bd09; }
  to { color: #749a02; text-shadow: 0 0 9px #333; }
}

.room-name {
	position: absolute;
	bottom: 0%;
	right: 0%;
	font-size: x-large;
	font-weight: bold;
	color: #749a02;
	-webkit-animation-name: greenPulse;
	-webkit-animation-duration: 5s;
	-webkit-animation-iteration-count: infinite;
}