debug {
	color: #fff;

	.webrtc {
		position: absolute;
		left: 33%;
		top: 0%;
		width: 33%;
		margin: 0 auto;

		font-size: x-small;
	}

	.state {
		position: absolute;
		left: 0%;
		top: 0%;
		color: #fff;
		font-size: xx-small;
		height: 100%;
	}

	.last-event {
		position: absolute;
		right: 0%;
		top: 25%;
		width: 33%;
		color: #f63;
		font-size: xx-small;
	}

	.maps {
		margin: 0 auto;
		width: 20em;
		text-align: center;
		color: #ff0;
		font-size: large;
		font-weight: bold;
	}
}