<!-- <div class="webrtc">
	<div class="webrtc-container">
		<json-renderer obj="webrtc"></json-renderer>
	</div>
</div>
<div class="state">
	<div class="state-container">
		<json-renderer obj="state"></json-renderer>
	</div>
</div> -->
<div class="webrtc"><pre>{{webrtc | json}}{{received}}/{{total}}</pre></div>
<div class="state"><pre>{{state | json}}</pre></div>
<div class="last-event"><pre>{{lastEvent | json}}</pre></div>
<div class="keymap">{{keymap | json}}</div>
<div class="controls">
	<input type="button" ng-click="toggleMode()" value="Quake Mode" />
	<input type="button" ng-click="hide_webGLRenderer = !hide_webGLRenderer" value="Hide WebGL" />
	<input type="button" ng-click="hide_cssRenderer = !hide_cssRenderer" value="Hide CSS3D" />
	<input type="button" ng-click="toggleMaps()" value="Show Maps" />
</div>

<div class="maps" ng-show="showMaps">
	<div ng-repeat="map in maps" ng-click="setMap(map)">{{map}}</div>
</div>